apiVersion: v1
kind: Service
metadata:
  name: k8s-crd-viewer
spec:
  type: ClusterIP
  selector:
    app: k8s-crd-viewer
  ports:
    - name: http
      port: 80
      targetPort: 8080
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: k8s-crd-viewer
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  ingressClassName: nginx
  rules:
    - host: <host-url>
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: k8s-crd-viewer
                port:
                  name: http
  tls:
  - hosts:
    - <host-url>
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-crd-viewer
  labels:
    app: k8s-crd-viewer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k8s-crd-viewer
  template:
    metadata:
      labels:
        app: k8s-crd-viewer
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532 # nobody
        runAsGroup: 65532 # nobody
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: k8s-crd-viewer
          image: <image-url>
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "250m"
              memory: "128Mi"
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            seccompProfile:
              type: RuntimeDefault
